<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #0099ff54;">
    <div class="container-fluid">
        <h3 class="text-white">first crud app</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!-- <h3 class="  bg-cus">first crud app</h3> -->
                </li>
            </ul>
            <span class="navbar-text">
                <app-add-data></app-add-data>
                <!-- <button class="btn btn-primary mx-2">Login</button>
                <button class="btn btn-primary mx-2">Register</button> -->
            </span>
        </div>
    </div>
</nav>